{% extends 'base.html' %}
{% block title %}aboutpage{% endblock title %}
{% block body %}

<h1 {text-align: center;}></h1>
<head>
    <style>
    h1 {text-align: center;}
    h5 {text-align: center;}
    div {text-align: center;}
    </style>
</head>
<body>
    
    <h1><br><br>Congratulatios!! <br></h1>
       <h5> We got youur information<br>
        Your Appointment is ready as per your information...<br>
        We will sent your serial number and appointment time over the phone message..<br>
        We will get back to you very soon<br><br></p>
        <p> <b>Appointment Slip......
            <br>Patient Name:</b>{{ OutdoorDoctor.name }}
            <br><b>Patient Contact:</b>{{ OutdoorDoctor.phone }}
            <br><b>Doctor:</b>{{ OutdoorDoctor.doctor }}
            <br><b>Appointment Date:</b>{{ OutdoorDoctor.date }}
            {% comment %} <br><b>Your slot:</b>{{OutdoorDoctor.slot}} {% endcomment %}
           
            <br><b>Serial:</b>{{serial_number }}
            <br><b>Your slot:</b> 6:<span id= "slot"></span>pm
            <br>{{serial_number}}
            <br><button onclick="window.print()">Print</button></h5>
        {% comment %} <div class="card card-body"> {% endcomment %}
    


            {% comment %} <script>
                console.log("This is a log message");
              </script> {% endcomment %}

<script>
  var num = {{ OutdoorDoctor.id }}*10;
  var number= num
  document.getElementById("slot").innerHTML = number;
</script>



    {% comment %} {% block content %}

        <div class="card card-body">
        
            <table class="table">
                <tr>

                    <th>OutDoor Patient (Name)</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Doctor</th>
                    <th>Date</th>
                </tr>  
                {% for vai in OutdoorDoctor %}
                <tr>
                    <td>{{vai.name}}</td>
                    <td>{{vai.phone}}</td>
                    <td>{{vai.gender}}</td>
                    <td>{{vai.age}}</td>
                    <td>{{vai.doctor}}</td>
                    <td>{{vai.date}}</td>
                    <td><a class ="btn btn-sm btn-info" href="update_outdoor/{{ vai.id }}">Update</a></td>
                    <td><a class ="btn btn-sm btn-danger" href="delete_outdoor/{{ vai.id }}">delete</a></td>
                           
                </tr>
                {% endfor %}
            </table>
        </div>
       
    {% endblock content%}                      {% endcomment %}

       

    
</body>


{% endblock body %}


