{% extends 'abase.html' %}
{% block title %}House{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logged in user</title>
  <style>
    body {
      background-image: url('https://images.livemint.com/img/2020/11/02/1600x900/f66cc8ea-1c49-11eb-bc9e-0600cc8b99a5_1604278803374_1604278904326.jpg');
    }
    </style>
</head>
<body>
    <br>
    {% comment %} WellCome to Home Patient Module<br> {% endcomment %}
    <form class = "my-4" action="/housePatient">
        <div class = "input-group mb-3">
            <input type="text" name="q" calss= "form-control form-control-1g" placeholder="Search"/>
            <button class ="btn btn-dark btn-1g" type="submit" id="button-addon2">Search</button>
        </div>
  
    {% block content %}
    <br>
    {% comment %} <div class ="row">
        <div class ="col">
            <div class = "card card-body">
                <form method="post">
                    {{myFilter.form}}
  
                <button class ="btn btn-primary" type-"submit">
                    Search</button>
                </form>
            </div>
        </div>
    </div> {% endcomment %}
    <form method ="POST">
        {% comment %} from:<input type="date" name="fromdate"/>
        To : <input type="date" name="todate"/>
        <input type="submit" value="Search"/>
    {% endcomment %}
    <br>
    <div class="row">
        <div class="col-md">
            {% comment %} <div class="card card0body">
                <a  class ="btn btn-sm btn-success"href="/HomePatient"><h5>Add a New Patient</h5></a>
                
            </div> {% endcomment %}
           
           
            <div class="card card-body">
               
                
                <table class="table">
                    <tr>

                        <th>N/A</th>
                        <th> Patient ID</th>
                        <th>Home Patient(Name)</th>
                        <th>Contact</th>
                        <th>Gender</th>
                        <th>Age</th>
                       
                        <th>Register Date</th>
                       
                  
                    </tr>
                    {% for vai in  HomePatient %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{vai.patient_id}}</td>
                        <td>{{vai.patient_name}}</td>
                        <td>{{vai.patient_phone}}</td>
                        <td>{{vai.patient_gender}}</td>
                        <td>{{vai.patient_age}}</td>
                        <td>{{vai.patient_date}}</td>
                        
                 
                        <td><a class ="btn btn-sm btn-info" href="update_hp/{{ vai.id }}">Update</a></td>
                        <td><a class ="btn btn-sm btn-danger" href="delete_hp/{{ vai.id }}">delete</a></td>
                        <th> <a class ="btn btn-sm btn-success" href="Online_appointment">Appointment</th>
                        <th><a class ="btn btn-sm btn-info"href="/report">Report</th>
                        {% comment %} <th><a class ="btn btn-sm btn-success"href="/Online_appointment">Appointment</th> {% endcomment %}
                           
                    
                    </tr>
                    
                    {% endfor %}
                    
                </table>
            </div>
            
        </div>
    </div>
</form>
{% endblock content%}   


  
<br><a class ="btn btn-sm btn-info" href="/addmin">Go back</a><br><nr>
    <br><a class ="btn btn-sm btn-danger" href="/logout">logout</a><br>
    <br>
</body>
</html>
{% endblock body %}