{% extends 'Pbase.html' %}
{% block title %}aboutpage{% endblock title %}
{% block body %}

<h1 {text-align: center;}></h1>
<head>
    <style>
        .main_color{
           position: center
        }
    h1 {text-align: center;}
    h4 {text-align: center; }
    h3 {text-align: center;}
    h5{text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    c{}
    </style>
</head>
<body>
    
    <h1><br><br>Congratulatios!! <br></h1>
       <p> Home Patient Admissin Vouchar<br><br></p>
           
<h3>
           
            
            
           
            {% comment %} <br><b>Doctor:</b>{{ HomePatient.doctor }}
            <br><b>Appointment Date:</b>{{ HomePatient.date }}
            <br><b>Serial:</b>{{ HomePatient.id }} {% endcomment %}

            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->
            
            <div class="container">
                <div class="row">
                    <div class="col-14">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="row p-2">
                                    
            
                                    {% comment %} <div class="col-md-6 text-right"><h5>
                                        <p class="font-weight-bold mb-1"> Patient Type:{{ HomePatient.patient_type }}</p>
                                        <p class="text-muted">Patient ID :{{ HomePatient.patient_id }}</p>
                                        <p class="text-muted"> National ID:{{ HomePatient.patient_national_ID }}</p>
                                    </h5>
                                    </div> {% endcomment %}
                                </div>
            
                                <hr class="my-5">
            
                                <div class="row pb-5 p-5">
                                    <div class="col-md-6">
                                        <h5> Thank You Sir , We received your information. <br>
                    
                                         <br><b>Transaction Number:</b>{{ HomePatient.transaction_phone }}
                                         <br><b>Transaction ID:</b>{{ HomePatient.transaction_id }}</h5>
                                        
                                       
                                    </div>
            
                                   
                                </div>
                                If we get your payment , we will confirm your appointment and will send the appointment link and details by your mail Immidiately . <br><br>
            
                               
            
                                <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                                    <button onclick="window.print()">Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>
            
            </div>
            
            
            
           
            
</body>


{% endblock body %}


